footer {
  position: sticky;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #1f48ff;
  border-radius: 12px;
  justify-content: center;
  z-index: 2000;
}

footer > p {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  margin: auto 0;
}

.social-div {
  background-color: #ffff;
  padding: 3px 5px;
  border-radius: 50px;
  display: flex;
  gap: 0.5rem;
  margin: 5px;
}

.social-div > a {
  text-decoration: none;
  color: #1f48ff;
}

.social-div > a:visited {
  text-decoration: none;
  color: #1f48ff;
}

@media (max-width: 767px) {
  footer {
    border-radius: 0;
    flex-direction: column;
    gap: 0;
  }

  footer > p {
    margin-top: 12px;
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    border-radius: 0;
  }

  footer > p {
    font-size: 0.85rem;
  }
}
