.header-container {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #1f48ff;
  border-radius: 12px;
  z-index: 2000;
}

#logo-text {
  font-family: "Playwrite US Trad";
  font-size: 1.3rem;
  font-weight: 300;
  flex: 5;
  margin: 10px;
  color: white;
}

.page-link ul {
  list-style: none;
  font-family: sans-serif;
  display: flex;
  gap: 1rem;
  margin: 10px 40px;
}

.page-link a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.page-link a:active {
  opacity: 0.7;
}

.header-btn {
  display: none;
}

@media (max-width: 767px) {
  .header-container {
    border-radius: 0;
  }

  #logo-text {
    font-size: 1.2rem;
  }

  .header-btn {
    display: flex;
    gap: 6px;
    margin-right: 12px;
  }

  .header-btn > button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
  }

  .header-btn > button:hover {
    cursor: pointer;
  }

  .header-btn > button:active {
    transform: scale(0.95);
    opacity: 0.8;
  }

  .page-link {
    display: none;
    position: fixed;
    top: 63.33px;
    right: 6px;
    background-color: #1f48ff;
    border-radius: 6px;
    z-index: 1000;
    transition: all 0.5s;
  }

  .page-link.active {
    display: block;
  }

  .page-link ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    width: 70px;
    margin: 5px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    border-radius: 0;
  }

  #logo-text {
    font-size: 1.2rem;
  }
}
